{%extends 'base.html'%}
{%block title%}Mejor coctelera del mundo{% endblock%}

{%block links%}
<a href="{{ url_for('login') }}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"> Home</a>
<a href="{{ url_for('mission') }}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Misión</a>
<a href="{{ url_for('contact') }}" class="w3-bar-item w3-button w3-padding-large w3-white">Contacto</a>
<a href="{{ url_for('signUp') }}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Registro</a>
{% endblock%}


{%block HEADER%}Contacto{% endblock HEADER%}


{%block grids%}
<!-- First Grid -->
{% for message in get_flashed_messages() %}
  <div>
    {{ message }}
  </div>
{% endfor %}
<div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
      <div class="w3-twothird">
        <h1>Puedes contactarnos en todas las redes sociales</h1>
        <h5 class="w3-padding-32">Estamos a un click de ti</h5>
  
        <p class="w3-text-grey">Te invitamos a conectar con nosotros y compartir tu asombrosa experiencia con nuestro producto!</p>
      </div>
  
      <div class="w3-third w3-center">
        <i class="material-icons w3-padding-64 w3-text-red" style='font-size:200px'>message</i> 
      </div>
    </div>
  </div>
{% endblock grids%}

