{%extends 'base.html'%}
{%block title%}Mejor coctelera del mundo{% endblock%}

{%block content%}
<div>
    <center>
        <img src="{{ url_for('static',filename ='images/LaMejorCocteraDelMundoMundial.png')}}" width="150px">
    </center>
</div>
<br>
<div>
    <center>
        <div>
            <h2>Contact</h2>
            <form method="POST" action="/">
                {{ form.csrf_token }}
                <div >{{ form.name.label }} {{ form.name(size=20) }}</div>
                <div >{{ form.password.label }} {{ form.password }}</div>
                {{ form.login_bt }}
                <!-- {{ form.signup_bt }} 
                {{ form.invitate }} -->
            </form>
          </div>                
    </center>
</div>        
</body>
{%endblock%}

<footer>
    <p>Aquí van los datos empresariales</p>
</footer>
    