{%extends 'base.html'%}
{%block title%}Mejor coctelera del mundo{% endblock%}

{%block links%}
<a href="{{ url_for('login') }}" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
<a href="{{ url_for('mission') }}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Misión</a>
<a href="{{ url_for('contact') }}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Contacto</a>
<a href="{{ url_for('signUp') }}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Registro</a>
{% endblock%}


{%block HEADER%}Inicio{% endblock HEADER%}


{%block grids%}
<!-- First Grid -->
{% for message in get_flashed_messages() %}
  <div>
    {{ message }}
  </div>
{% endfor %}

<div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
      <div class="w3-twothird">
        <h1>La mejor coctelera</h1>
        <h5 class="w3-padding-32">Con la mejor coctelera del mundo mundial degustarás de una experiencia maravillosa</h5>
  
        <p class="w3-text-grey">Con tecnología de punta y un diseño inigualable, traemos a tu negocio un invento que revolucionará la forma en la que sirves a tus clientes los mejores tragos y las mejores noches.</p>
      </div>
  
      <div class="w3-third w3-center">
        <i class="fa fa-glass w3-padding-64 w3-text-red w3-margin-right" style='font-size:204px'></i>
      </div>
    </div>
  </div>
  
  <!-- Second Grid -->
  <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
    <div class="w3-content">
      <div class="w3-third w3-center">
        <i class="fa fa-archive w3-padding-64 w3-text-red w3-margin-right" style='font-size:204px'></i>
      </div>
  
      <div class="w3-twothird">
        <h1>Un catálogo para ti</h1>
        <h5 class="w3-padding-32">Cualquiera puede hacer un coctel</h5>
  
        <p class="w3-text-grey">Gracias a nuestra coctelera, hasta el nuevo mesero que contrataste podrá hacer cocteles de grado profesional, que dejarían al bartender con más años de experiencia, en pañales.</p>
      </div>
    </div>
  </div>
{% endblock grids%}

