{%extends 'base.html'%}
{%block title%}Mejor coctelera del mundo{% endblock%}

{%block links%}
<a href="{{ url_for('login') }}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"> Home</a>
<a href="{{ url_for('mission') }}" class="w3-bar-item w3-button w3-padding-large w3-white">Misión</a>
<a href="{{ url_for('contact') }}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Contacto</a>
<a href="{{ url_for('signUp') }}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Registro</a>
{% endblock%}


{%block HEADER%}Misión{% endblock HEADER%}


{%block grids%}
<!-- First Grid -->
{% for message in get_flashed_messages() %}
  <div>
    {{ message }}
  </div>
{% endfor %}
<div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
      <div class="w3-twothird">
        <h1>Nuestra misión</h1>
        <h5 class="w3-padding-32">Al alcance de todos</h5>
  
        <p class="w3-text-grey">“En Cocteles.inc, nuestra misión es habilitar a las personas y negocios de todo el mundo para que comprendan todo su potencial. Consideramos nuestra misión como un compromiso con nuestros clientes.

          Nos entregamos a ese compromiso esforzándonos por crear tecnología que sea accesible para todos — todas las edades y habilidades. Cocteles.inc es uno de los líderes de la industria en innovación de la accesibilidad y en la construcción de productos que sean más seguros y más fáciles de usar.”</p>
      </div>
  
      <div class="w3-third w3-center">
        <i class="fa fa-heartbeat w3-padding-64 w3-text-red w3-margin-right" style='font-size:204px'></i>
      </div>
    </div>
  </div>
  
  <!-- Second Grid -->
  <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
    <div class="w3-content">
      <div class="w3-third w3-center">
        <i class="fa fa-eye w3-padding-64 w3-text-red w3-margin-right" style='font-size:204px'></i>
      </div>
  
      <div class="w3-twothird">
        <h1>Visión</h1>
        <h5 class="w3-padding-32">Enriquecer la vida de la gente</h5>
  
        <p class="w3-text-grey">"Nuestra visión es crear una tecnología innovadora que es accesible a todo el mundo y que se adapta a las necesidades de cada persona. La tecnología accesible elimina barreras para las personas y permite a las personas aprovechar al máximo de sus capacidades.”</p>
      </div>
    </div>
  </div>
{% endblock grids%}

