{%extends 'base.html'%}
{%block title%}Mejor coctelera del mundo{% endblock%}

{%block links%}
<a href="{{ url_for('login') }}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Home</a>
<a href="{{ url_for('mission') }}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Misión</a>
<a href="{{ url_for('contact') }}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Contacto</a>
<a href="{{ url_for('signUp') }}" class="w3-bar-item w3-button w3-padding-large w3-white">Registro</a>
{% endblock%}


{%block HEADER%}Registro{% endblock HEADER%}


{%block grids%}
    {% for message in get_flashed_messages() %}
      <div>
        {{ message }}
      </div>
    {% endfor %}
    <div class="w3-card"> 
      <div class="w3-container w3-center">
    <h1>Registro</h1>
        <p>Regístrese para buscar cocteles:</p></div>
        <form action="#" method="POST">
          {{ form2.csrf_token }}
                <div class="w3-container w3-center">{{ form2.name.label }}:</div><div class="w3-container w3-center"> {{ form2.name(size=20) }}</div><div class="w3-container w3-center">
                    {% if form2.name.errors %}
                    
                        {% for error in form2.name.errors %}
                        {{ error }}{% endfor %}
                    
                    {% endif %}
                </div>
                <div class="w3-container w3-margin-top w3-center">{{ form2.email.label }}:</div><div class="w3-container w3-center"> {{ form2.email }}</div><div class="w3-container w3-center">
                    {% if form2.email.errors %}
                    
                        {% for error in form2.email.errors %}
                        {{ error }}{% endfor %}
                    
                    {% endif %}
                  </div>
                
                <div class="w3-container w3-margin-top w3-center"> {{ form2.password.label}} :</div><div class="w3-container w3-center"> {{ form2.password}} </div><div class="w3-container w3-center">
                    {% if form2.password.errors %}
                    
                        {% for error in form2.password.errors %}
                        {{ error }}{% endfor %}
                    
                    {% endif %}
                </div>
                
                <div class="w3-container w3-margin-top w3-center">{{ form2.age.label }}:</div><div class="w3-container w3-center"> {{ form2.age }} </div>
 
                <div class="w3-container w3-margin-top w3-center">{{ form2.coctailNum.label }}:</div><div class="w3-container w3-center">{{ form2.coctailNum }} </div><div class="w3-container w3-center">
                    {% if form2.coctailNum.errors %}
                    
                        {% for error in form2.coctailNum.errors %}
                        {{ error }}{% endfor %}
                  
                    {% endif %}
                </div>
                <div class="w3-panel w3-center">{{ form2.submit }}</div>     
      </form>
    <p class="w3-center"><a href="{{ url_for('login') }}"> <button class="w3-btn w3-round w3-gray w3-center" type="button"> Volver al inicio </button></a></p>
    <p class="w3-padding w3-center"><a href="{{ url_for('home_coctail.home') }}"><button class="w3-btn w3-round w3-gray" type="button">Continuar como invitado</button></a></p>
      </div>
{% endblock grids%}
