{%extends 'base.html'%}
{%block title%}
Usuarios DB
{% endblock%}

{%block content%}
<h1>Usuarios en base de datos</h1>
    {% for user in users %}
        <ul id="user.username">
            <li>
                <span>User:</span>
                <span>{{ user.username }}</span>
            </li>
            <li>
                <span >Email:</span>
                <span >{{ user.email }}</span>
            </li>
            <li>
                <span >Age:</span>
                <span >{{ user.age }}</span>
            </li>
            <li>
                <span >Created:</span>
                <span >{{ user.created }}</span>
            </li>        
            <li>
                <span >Created:</span>
                <span >{{ user.created }}</span>
            </li>
            <li>
                <span >Numero de coctelera:</span>
                <span >{{ user.coctailNum }}</span>
            </li>
        </ul>
    {% endfor %}

{% endblock %}