{%extends 'base2.html'%}
{%block title%}
Lista de cocteles
{% endblock%}

{%block content%}


        <div class="w3-container w3-margin-top" id="coc">
                <h3>Cocteles</h3>
                <p>Degusta nuestros deliciosos cocteles.</p>
              </div>
              
              <div class="w3-row-padding">
                <div class="w3-col m3">
                  <label><i class="fa fa-calendar-o"></i> Buscador </label>
                  <form method="POST" action="">
                        {{ form.csrf_token }}
                        <div >{{ form.coctail_search }}</div>
                        {{ form.searchButton }} 
                </form>
              </div>




<div>
  <div class="w3-row-padding w3-padding-16 w3-center" id="food">
        {% if data["drinks"]==None %}
          <div class="w3-third w3-padding">
            <img src="#" alt="none" style="width:100%">
            <h3>No drinks found</h3>
            <p>Try another search</p>
          </div>
        {%else%}
        {%for dat in data["drinks"]%}
          <div class="w3-third w3-padding ">
            <img src="{{dat.get('strDrinkThumb')}}" alt="Not found" style="width:100%">
            <a href="{{url_for('coctail_bp.desCoctail', type=dat.get('idDrink'))}}"><h3 class="w3-text-teal w3-padding">{{dat.get("strDrink")}}</h3></a>
            <p>{{dat.get("strInstructions")|truncate(52,TRUE)}}</p>
          </div>
        {%endfor%}
        {%endif%}
  </div>
</div>
{%endblock%}
