{%extends 'base.html'%}
{%block title%}
Lista de cocteles
{% endblock%}

{%block content%}
<div>
        <center>
                <form method="POST" action="">
                        {{ form.csrf_token }}
                        <div >{{ form.coctail_search }}</div>
                        {{ form.searchButton }} 
                </form>
        </center>
</div>
<div>
        {% if data["drinks"]==None %}
                <h1>No drinks found</h1>
        {%else%}
                {%for dat in data["drinks"]%}
                <a href="{{url_for('coctail_bp.desCoctail', type=dat.get('idDrink'))}}"><h1>{{dat.get("strDrink")}}</h1></a>        
                <p>{{dat.get("strInstructions")}}</p>
                {%endfor%}
        {%endif%}
</div>
{%endblock%}
