{%extends 'base.html'%}
{%block title%}
Coctel en específico
{% endblock%}

{%block content%}
     <div>
        <ul>
            <!-- {%for ing in desCoc["drinks"]%} -->
            <li>{{desCoc.get("drinks")[0].get("strDrink")}}</li>
            <li>{{desCoc.get("drinks")[0].get("strInstructions")}}</li>
            
            <!-- {%endfor%} -->
        </ul>
    </div>
    <div>
        <center>
        <img src="{{desCoc.get('drinks')[0].get('strDrinkThumb')}}" alt="Not found" width="150px">
        </center>
    </div>
{%endblock%}